//  ----- Sass Variables -----

$dark-gray-1: #222222;
$dark-gray-2: #1b1b1b;
$dark-gray-3: #0e0e0e;
$light-gray: #313131;

// =====Custom Bootstrap settings =====

$theme-colors: (
  "black": #000000,
  "light-gray": $light-gray,
  "dark": $dark-gray-1,
  "dark-2": $dark-gray-2,
  "dark-3": $dark-gray-3,
);

$table-dark-bg: $dark-gray-2;

$h1-font-size: 1.2rem;
$h2-font-size: 0.9rem;

// ===== Importing Bootstrap default files =====

@import "../node_modules/bootstrap/scss/bootstrap";

// ===== Custom non-Bootstrap CSS =====

//  ----- GLOBAL STYLING -----

body {
  color: white;
  background-color: $dark-gray-1;
}

input {
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  color: white;
}

// ----- DECKS STYLING -----

.deck {
  background-color: $light-gray;
}

// -- Song progress bar --
.song-progress-container {
  padding: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}

.song-progress-bar {
  height: 5px;
  background-color: white;
  width: 0px;
}

// -- Deck circle and marker --
// Making a responsive circle by giving it a top & bottom padding
// of 50%, so that it makes the height equal to the width (100%)
.deck-disc {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 0;
  padding: 50% 0;
  border-radius: 50%;
  color: $dark;
  background: white;
}

// We need a container for the marker as we can't use deck-disc's padding.
// For better positioning, we need the marker to be absolute, and therefore have
// its container positioned as relative. For this reason, we create an absolute container,
// and another relative container in it.
.deck-disc > .abs-container {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10%;
}

.abs-container > .rel-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transform: translateY(-3px); // To center the marker and circle
}

.rel-container > .marker {
  position: absolute;
  width: 50%;
  // Height should be in pixels to avoid problems
  // on inner circle centering with some viewport sizes
  // making it and odd px value (half pixel centering is impossible).
  height: 6px;
  top: 50%;
  left: 0;
  z-index: 20;
  transform-origin: 100%; // To rotate the marker from the end and not the center
  transform: rotate(90deg); // To start with a vertical marker (12 o clock)
  background: $dark;
}

.marker-active {
  animation: marker-rotation 3s linear infinite;
}

.rel-container > .deck-disc-center {
  z-index: 20;
  margin-top: 6px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: $dark;
}

// ----- ANIMATIONS -----

@keyframes marker-rotation {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(450deg);
  }
}
