//  ----- Sass Variables -----

$dark-gray-1: #222222;
$dark-gray-2: #1b1b1b;
$dark-gray-3: #0e0e0e;
$light-gray: #313131;
$light-alpha-1: rgba(255, 255, 255, 0.2);
$light-alpha-2: rgba(255, 255, 255, 0.6);
$light-alpha-3: rgba(255, 255, 255, 0.8);
$dark-alpha: rgba(0, 0, 0, 0.5);
